
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List </title>
</head>
<body>
    <h1>Task To Do</h1>
    <%for(t of tasks){%>
        <div>
            <p>task : <%=t.task%></p>
            <p>priority : <%=t.priority%></p>
        </div>
    <%}%>
</body>
</html>